doctype html
html
	head
		title=title
		meta(charset="utf-8")
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="/css/styles.css")
	body
		block body

		span(id="data-current-view" style="display: none")=view

		script(src="/js/index.js" type="text/javascript")