include ../mixins/loading-circle

h1 Finishing

p That's all! You may now deploy your bot!

p #[strong Note]: if you're running this on Heroku, after you press the deploy button, this website will shut down itself so the bot can run. This means that after the deployment, you won't be able to change anything here. In order to enter the setup mode again you can use the #[strong schedulebot-admin config-mode] command.

p If the bot launch results in an error, this page will automatically start itself again so you can reconfigure the bot.

p If you're not running on Heroku, you'll need to manually run the bot with #[strong npm run bot].

div(class="center")
	a(id="button-deploy-bot" class="btn-large waves-effect waves-light red accent-4") Deploy bot
	+loading-circle("loading-deploy-bot", "red", true)