h1 Introduction

p Welcome to the #[strong Schedulebot setup page]! This will allow you to easily configure Schedulebot. Please follow the instructions in each section to proceed.

p If you have any trouble, suggestions or have detected any bug, please open an issue on #[a(href="https://github.com/MeLlamoPablo/schedulebot/issues" target="_blank") GitHub]! You can also reach me on #[a(href="https://discord.gg/ShN6hSR" target="_blank") Discord].