mixin loading-circle(id, color, beginHidden)
	div(id=id class="preloader-wrapper active" style=beginHidden ? "display: none;" : "")
		div(class="spinner-layer spinner-" + color + "-only")
			div(class="circle-clipper left")
				div(class="circle")
			div(class="gap-patch")
				div(class="circle")
			div(class="circle-clipper right")
				div(class="circle")
